body{
    background-color: rgb(247, 244, 244);
}

h1{
    font-size: 2rem;
    margin: 1rem;
}

h2{
    font-size: 1.5rem;
    margin: 1rem;
}

p{
    margin: 1rem;
}

ul{
    margin: 1rem;
    background-color: rgb(182, 181, 181);
}

li{
    border-style: solid;
    border-color: lightgrey;
    border-width: 0.1rem;
    text-align: center;
    height: 2rem;
}

.lijst-1 li{
    color: blue;
    width: 33.33%;
}

.lijst-2 li{
    color: green;
}

.lijst-3 li{
    color: lightblue;
}

.lijst-4 li{
    color: orange;
}

.lijst-5 li{
    color: red;
}

.lijst-6 li{
    color: white;
}

.lijst-1{
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-width: 575px ) {
    .lijst-2{
        display: flex;
        justify-content: space-around;
    }

    .lijst-2 li{
        width: 33.33%;
    }
}

@media only screen and (min-width: 768px ) {
    .lijst-3{
        display: flex;
        justify-content: space-around;
    }

    .lijst-3 li{
        width: 33.33%;
    }
}

@media only screen and (min-width: 992px ) {
    .lijst-4{
        display: flex;
        justify-content: space-around;
    }

    .lijst-4 li{
        width: 33.33%;
    }
}


@media only screen and (min-width: 1200px ) {
    .lijst-5{
        display: flex;
        justify-content: space-around;
    }

    .lijst-5 li{
        width: 33.33%;
    }
}

@media only screen and (min-width: 1400px ) {
    .lijst-6{
        display: flex;
        justify-content: space-around;
    }

    .lijst-6 li{
        width: 33.33%;
        background-color: purple;
    }
}





