li{
    font-size: 10rem;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}


li:hover{
    background-color: white;
    color: red;
}

@media only screen and (min-width: 1000px){
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 100%;
    }
    
}